body {
  color: #555f62;
  background-color: #f9fafa;
  font-family: TBCX, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
/* heder */

header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  position: fixed;

  top: 0;
}
.header_container {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  grid-column-gap: 32px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  position: relative;
}
.header_logo img {
  width: 165px;
  cursor: pointer;
}
.header_menu {
  display: flex;
  gap: 40px;
}
.product {
  cursor: pointer;
}
.offers {
  cursor: pointer;
}
.concept_space {
  cursor: pointer;
}
.search {
  cursor: pointer;
}
.search:hover {
  color: #3295ce;
}
.link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #182cc0;
  font-weight: 700;
}
.link:hover {
  color: #3295ce;
}
.header_buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.lang_togle {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  grid-column-gap: 4px;
  border-radius: 4px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.lang {
  font-weight: 700;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 70px;
}
.dropdown-content {
  font-weight: bold;
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover {
  background-color: rgba(201, 200, 200, 0.81);
}
lang_togle:hover {
  background-color: rgba(201, 200, 200, 0.81);
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #f9f9f9;
}

/* footer */

footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eef1f1;

  position: fixed;
  bottom: 0;
  z-index: 100;
}
.footer {
  border-bottom: 1px solid #eef1f1;
}
.footer_container {
  width: 100%;
  max-width: 1110px;
  margin-left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.footer_bottom_bottom {
  width: 100%;
  max-width: 1110px;
  margin-left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.footer_top {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_top img {
  width: 165px;
}

.footer_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1110px;
  padding: 30px 0;
  justify-content: space-between;
  border-top: 1px solid #eef1f1;
}

.footer_bottom img {
  cursor: pointer;
  width: 200px;
}
.footer_bottom_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-size: 14px;
}
.footer_bottom_right div {
  cursor: pointer;
}
.footer_bottom_right div:hover {
  color: blue;
}

.footer_main_inner {
  padding-right: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.footer_main_inner h2 {
  font-weight: bolder;
  color: black;
  padding-bottom: 20px;
}
.footer_main_inner p {
  margin-top: 15px;
  cursor: pointer;
  font-weight: 100;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.flex:hover {
  text-decoration: underline;
}
.social_networks {
  margin-top: 30px;
  font-weight: bolder;
  color: black;
}
.footer_social_list {
  margin-top: 20px;
  display: flex;
}
.social_icon {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #f9fafa;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  display: flex;
  cursor: pointer;
  margin-left: 5px;
}
.social_icon:hover {
  color: #182cc0;
  background-color: #eee;
}
.footer_main_inner p:hover {
  color: blue;
}

/* triger */
.button_menu {
  position: fixed;
  z-index: 999;
  margin-top: 85vh;
  margin-left: 93%;
}

.button_menu_trigger {
  width: 56px;
  height: 56px;
  color: #fff;
  cursor: pointer;
  background-color: #424a4d;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}
.button_menu_trigger:hover {
  background-color: rgba(66, 74, 77, 0.8);
}
.triger_icon {
  margin-top: 8px;
}
